@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

:root {
  /* ======= font weight ==========   */
  --font-regular: 200;
  --font-medium: 400;
  --font-bold: 600;

  /* ========= font size ============ */
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ========== colors =============== */
  --background-body: #ffffff;
  --background1: #f0f0f0;
  --background2: #f2f0f1;
  --background3: #f0eeed;
  --text-color: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "newArrivals"
    "topSelling"
    "browse"
    "comments"
    "footer";
}

input,
textarea,
button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ========================== HEADER ======================= */
.header {
  grid-area: header;
  background-color: crimson;
}

.header h1 {
  font-weight: var(--font-bold);
}

/* ========================== NEW ARRIVALS ======================= */
.newArrivals {
  grid-area: newArrivals;
  background-color: royalblue;
}

/* ========================== TOP SELLING ======================= */
.topSelling {
  grid-area: topSelling;
  background-color: slateblue;
}

/* ========================== BROWSE BY DRESS STYLE ======================= */
.browse {
  grid-area: browse;
  background-color: hotpink;
}

/* ========================== COMMENTS ======================= */
.comments {
  grid-area: comments;
  background-color: lightgreen;
}

/* ========================== FOOTER ======================= */
.footer {
  grid-area: footer;
  background-color: steelblue;
}
